-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html
  %head
  %title
    = yield :title
  = stylesheet_link_tag 'application', :media => 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %body
    #top_background
      = render 'layouts/top_background'
    #header
      = render 'layouts/header'
    #main
      #content
        = yield
      #left
        = render 'layouts/left'
    #footer
